Source: deepin-image-viewer-qml
Section: admin
Priority: optional
Maintainer: Deepin Packages Builder <packages@deepin.com>
Build-Depends:
 debhelper (>= 9),
 cmake,
 pkg-config,
 qtdeclarative5-dev,
 qml-module-qtquick-shapes,
 qtdeclarative5-private-dev,
 qttools5-dev-tools,
 qtbase5-private-dev,
 libleptonica-dev,
 libtesseract-dev,
 libqt5svg5-dev,
 libfreeimage-dev
Standards-Version: 3.9.8
Homepage: http://www.deepin.org

Package: deepin-image-viewer-qml
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Description:this package software for UOS
 A simple screen shot and recorder tools for UOS.


