[Desktop Entry]
Categories=Graphics;GTK;DDE;
Comment=Deepin Image Viewer
Exec=deepin-image-viewer-qml %F
GenericName=Image Viewer
Icon=deepin-image-viewer
Keywords=Image;Viewer;Jpg;Jpeg;Png;
Name=Deepin Image Viewer
StartupNotify=false
Type=Application
X-Deepin-ManualID=deepin-image-viewer-qml
X-Deepin-Vendor=deepin
X-Deepin-TurboType=dtkwidget

MimeType=image/bmp;image/bmp24;image/ico;image/jpg;image/jpe;image/jpeg;image/jpeg24;image/jng;image/pcd;image/pcx;image/png;image/tga;image/tif;image/tiff;image/tiff24;image/psd;image/xpm;image/dds;image/gif;image/sgi;image/j2k;image/jp2;image/pct;image/webp;image/wdp;image/cr2;image/pef;image/arw;image/nef;image/icb;image/dng;image/vda;image/vst;image/raf;image/orf;image/svg;image/ptif;image/mef;image/mrw;image/xbm;image/svg+xml;

# Translations:
# Do not manually modify!

Name[zh_HK]=Deepin 看图
Name[zh_TW]=Deepin 看图
Name[zh_CN]=深度看图

